body {
  font-family: Quicksand, sans-serif;
}

p, h1, h2, h3, h4 {
  margin-bottom: 0px;
  color: #000000;
}
.flex-1{
    flex: 1;
}
#home-main-navbar {
  background: #eef1f3;
  padding-top: 15px;
  padding-bottom: 15px;
}

#home-main-navbar .navbar-brand {
  font-family: Quicksand, sans-serif;
}

.fr-cl-bcs {
  background: #0674ec;
  color: #fff;
  padding: 0px 20px;
  display: inline-block;
  line-height: 34px;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font-weight: 300;
  margin-right: 30px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 16px !important;
  text-align: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

w {
  font-size: 20px;
  color: #7e8fa1;
}

.fr-nc {
  height: 20px;
  font-size: 14px;
  padding: 0px 4px;
  border-radius: 50%;
  position: relative;
  color: white;
  display: block;
  float: right;
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
}

#home-main-navbar .nav-item .nav-link, div.side-nav-icons a {
  font-size: 20px;
  color: #7e8fa1;
}

#home-main-navbar .dropdown-toggle::after, #home-sub-navbar .dropdown-toggle::after, .manage-items-dropdown .dropdown-toggle::after {
  display: none !Important;
}

#home-main-navbar #fl-id-user.dropdown .fr-cl-nds {
  width: 250px;
  min-width: 200px;
  padding: 0px;
  border-radius: 0px;
  border: none;
  box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
  border-top: 1px solid #0674ec;
  margin-top: 16px;
}

#home-sub-navbar .dropdown-menu {
  width: 250px;
  min-width: 200px;
  padding: 0px;
  border-radius: 0px;
  border: none;
  box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
  /*border-top: 1px solid #0674ec;*/
  margin-top: 16px;
  font-weight: 300 !important;
}

#home-sub-navbar .dropdown-menu a {
  font-weight: 400 !important;
  padding: 0px 10px;
  text-transform: capitalize;
  color: #54667a;
  line-height: 44px !important;
  font-size: 14px;
}

#home-main-navbar .dropdown .fr-cl-nds {
  width: 370px;
  min-width: 270px;
  padding: 0px;
  border-radius: 0px;
  border: none;
  box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
  border-top: 1px solid #0674ec;
}

#home-main-navbar .dropdown .fr-cl-nds:before {
  content: '';
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0674ec;
  bottom: 100%;
  left: auto;
  right: 25px;
}

#home-mai .fr-cl-nds-container {
  width: 100%;
  padding: 0px 15px;
}

.fr-cl-nds-container-row {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row.fr-cl-nds-container-header-row {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 20px;
}

p, label {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

#home-main-navbar .dropdown .fr-cl-nds-container p {
  color: #747a86;
}

#home-main-navbar .dropdown .fr-cl-nds-container h4 {
  font-weight: 400;
}

#home-main-navbar .dropdown .fr-cl-nds-container p span {
  font-weight: 500 !important;
  color: #000;
}

span.price-badge-thick {
  background: #0674ec;
  color: white;
  line-height: 30px;
  padding: 0 15px;
  margin-bottom: 0;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 14px;
}

.price-badge-light {
  background: rgba(6, 116, 236, 0.1);
  color: #0674ec;
  line-height: 30px;
  padding: 0 10px;
  margin-bottom: 0;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 14px;
  transition: all 2s;
}

.price-badge-pink-light {
  background: rgba(6, 116, 236, 0.1);
  color: rgba(115,69,191,0.7) !important;
  line-height: 30px;
  padding: 0 10px;
  margin-bottom: 0;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 14px;
  transition: all 2s;
}

#home-main-navbar #fl-id-notification:hover .dropdown-menu {
  display: block;
}

#home-main-navbar #fl-id-message:hover .dropdown-menu {
  display: block;
}

#home-main-navbar #fl-id-cart:hover .dropdown-menu {
  display: block;
}

#home-main-navbar #fl-id-user:hover .dropdown-menu {
  display: block;
}

#home-main-navbar #fi-id-user-name {
  font-weight: 500;
}

#home-sub-navbar .navbar-nav li a:hover {
  color: #0674ec;
}

#home-sub-navbar .navbar-nav li a {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 42px;
  padding-left: 20px;
  padding-right: 20px;
}

#home-sub-navbar .dropdown-menu a:hover {
  background: transparent;
  color: #333333 !important;
}

#home-sub-navbar .dropdown:hover .dropdown-menu {
  display: block;
}

#home-main-jumbotron {
  height: 100vh;
  background-image: url("../img/frbg.jpg");
  background-position: bottom;
  background-size: cover;
  border-radius: 0px;
  margin-bottom: 0px;
}

#home-main-jumbotron h1 {
  color: #f3f3f8;
  font-size: 60px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: 400;
}

#home-main-jumbotron h1 .bold {
  font-weight: 500;
}

#home-main-jumbotron p.tagline {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: 500;
  color: #f3f3f8;
}

a.call-to-action {
  background: transparent;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 16px 30px;
  transition: all 1s ease;
}

a.call-to-action:hover {
  text-decoration: none;
  background: white;
  color: #0674ec;
  transition: all 2s ease;
}

.btn-lg {
  line-height: 55px;
  font-size: 16px;
  min-width: 195px;
  font-weight: 500;
  border-radius: 2pc;
}

#home-main-searchbox {
  position: absolute;
  width: 100%;
  z-index: 2;
  -o-transform: translateY(-50%);
  z-index: 2;
  transform: translateY(-50%);
}

#home-main-searchbox .fr-cl-search-box {
  padding: 30px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

#home-main-searchbox .fr-cl-search-box .form-group input.form-control {
  height: 55px !important;
  line-height: 55px !important;
  padding: 0 25px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  background: white;
  border-radius: 4px 0 0 4px;
  margin-bottom: 10px;
}

#home-main-searchbox .fr-cl-search-box .form-group select {
  height: 55px !important;
  line-height: 55px !important;
  padding: 0 20px 0 20px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  background: rgba(220,220,220,0.32);
  border-radius: 0 4px 4px 0;
  margin-bottom: 10px;
}

#home-main-searchbox .fr-cl-search-box:before {
  left: 30px;
  top: -13px;
  width: calc(100% - 60px);
}

#home-main-searchbox .fr-cl-search-box:after {
  left: 60px;
  top: -26px;
  width: calc(100% - 120px);
}

#home-main-searchbox .fr-cl-search-box:before, #home-main-searchbox .fr-cl-search-box:after, {
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  z-index: -1;
  border-radius: 6px;
}

#home-main-searchbox .fr-cl-search-box .form-group .btn {
  height: 55px;
  background: #0674ec;
  border-radius: 4px;
}

#home-main-searchbox .fr-cl-search-box .form-group input.form-control:focus {
  /*border: none;*/
  box-shadow: none;
}

#home-main-searchbox .fr-cl-search-box .form-group select:focus {
  box-shadow: none;
}

#home-main-searchbox .fr-cl-search-box .form-group .btn:focus {
  box-shadow: none;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

#home-main-features {
  padding-top: 187px;
}

h3 {
  font-size: 24px !important;
  font-weight: 400 !important;
}

p {
  color: #555555;
}

#home-main-features .col:hover, #home-main-why-choose-us .col:hover {
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

#home-main-features .col, #home-main-why-choose-us .col {
  transition: 0.3s ease;
}

#home-main-navbar .navbar-toggler {
  background: #0674ec;
  border: none;
  /* position: absolute;
  right: 20px; */
  height: 40px;
}

#home-main-navbar #fr-id-toggler {
  background: #0674ec;
  position: absolute;
  right: 10%;
  top: 0px;
  height: 100%;
}

#home-main-navbar #fr-id-toggler a {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
}

#fr-id-side-nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  background: rgba(0,0,0,0.52);
  z-index: 3;
}

#side-nav-content {
  height: 100vh;
  background: white;
}

#side-nav-content .user-details {
  width: 100%;
  height: 100%;
  background: red;
  background: #eff1f5;
  padding-top: 20px;
  padding-left: 30px;
}

#side-nav-content .user-details p#fr-id-user-name {
  font-weight: 500;
}

#side-nav-content .user-details p#fr-id-user-amount {
  margin-bottom: 20px;
}

#side-nav-content .times {
  position: absolute;
  z-index: 4;
}

#side-nav-icons-container {
}

#side-nav-icons-container a {
  padding-left: 10px;
  padding-right: 10px;
}

div.side-nav-icons a {
  padding: 20px 10px 15px 10px;
}

.side-nav-icons {
  border-bottom: 1px solid #0674ec;
}

div.side-nav-icons a:hover {
  text-decoration: none;
}

.col.side-nav-links a {
  display: block;
}

.fr-cl-nds-container a:hover {
  text-decoration: none;
}

.bg-color {
  background: #eff1f5;
}

#home-main-why-choose-us .row.section-header-row, #home-main-testimonials .row.section-header-row {
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: none;
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 50px;
  background: transparent;
}

.section-header-row {
  background: white;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

@media (max-width: 360px) {
  .row.section-header-row h2 {
    font-size: 24px !important;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .row.section-header-row h2 {
    font-size: 30px !important;
    font-weight: 400;
  }
}

.row.section-header-row h2 {
  font-size: 40px;
  font-weight: 400;
}

.row.section-header-row h2 {
  font-size: 25px;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
}

a.next {
  width: 55px;
  line-height: 45px;
  border-radius: 0 200px 200px 0;
  background: #0674ec;
  color: white;
}

@media (max-width: 768px) {
  a.next {
    width: 40px;
    line-height: 35px;
    border-radius: 0 200px 200px 0;
    background: #0674ec;
    color: white;
  }
}

a.prev {
  width: 55px;
  line-height: 45px;
  border-radius: 200px 0 0 200px;
  background: #0674ec;
  color: white;
}

@media (max-width: 768px) {
  a.prev {
    width: 40px;
    line-height: 35px;
    border-radius: 200px 0 0 200px;
    background: #0674ec;
    color: white;
  }
}

.carousel-product {
  height: auto;
  background: white;
}

.carousel-product-image {
  background-image: url("../img/frbg.jpg");
  background-position: center;
  background-size: contain;
}

.carousel-product-content {
  padding: 24px 30px;
}

.carousel-product-content h4 {
  font-weight: 500;
}

.carousel-product-content p {
  font-weight: 400;
  font-size: 15px;
}

.tags a {
  padding: 2px 20px;
  background: #f1f3f6;
  border-radius: 50px;
  color: #868c96;
  transition: 0.3s ease;
}

.tags a:hover {
  background: #7347c1;
  color: white;
  text-decoration: none;
}

.fr-cl-nds-container {
  padding-left: 15px;
  padding-right: 15px;
}

#home-newest-release-products .section-header-row .dropdown button {
  background: transparent;
  color: #868c96;
  border: none;
}

#home-newest-release-products .section-header-row .dropdown .dropdown-toggle::after {
  display: none;
}

#home-newest-release-products .section-header-row .dropdown .dropdown-menu {
  box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
}

#home-newest-release-products .section-header-row .dropdown button:hover, #home-newest-release-products .section-header-row .dropdown button:focus {
  box-shadow: none;
  color: #212121;
}

#home-newest-release-products {
  background: #f6f7fb;
}

.bg-white {
  background: white!important;
}

.custom-box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
}

#home-main-testimonials {
  background-image: url("../img/test%20background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

#carousel-3 .carousel-control-next:focus, .carousel-control-next:hover, #carousel-3 .carousel-control-prev:focus, #carousel-3 .carousel-control-prev:hover {
  opacity: 1 !important;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 7%;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity .15s ease;
}

.carousel-control-next div, .carousel-control-prev div {
  border-radius: 2pc;
  height: 30px;
  width: 30px;
  font-size: 32px;
}

@media (max-width: 768px) {
  #home-main-jumbotron {
    height: 130vh;
  }
}

#home-main-call-to-action {
  height: auto;
  background-image: url("../img/yunming-wang-1599986-unsplash.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

#become-a-seller-call-to-action {
  height: auto;
  background-image: url("../img/eye-for-ebony-354857-unsplash.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

#main-footer {
  background: #252B2F;
  padding-top: 80px;
  padding-bottom: 80px;
  background-position: fixed;
}

#main-footer p {
  font-size: 13px;
}

#main-bottom-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #181F27;
}

.jumbotron.main-pages-jumbotron {
  border-radius: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

#products-page-jumbotron {
  background-image: url("../img/frbg.jpg");
}

.jumbotron.main-pages-jumbotron .form-control {
  height: 50px;
  line-height: 55px;
  border-top-left-radius: 2pc;
  border-bottom-left-radius: 2pc;
  font-size: 16px;
  background: transparent;
  border: 2px white solid;
  color: white;
}

.jumbotron.main-pages-jumbotron form .btn {
  border-radius: 2pc;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: -30px;
  z-index: 20;
  background: white;
  color: #0674ec;
}

#product-sorting-group {
  background: white;
}

.dropdown.normal-dropdown .btn {
  background: transparent;
  color: #555555;
  border: none;
  padding-top: 40px;
  padding-bottom: 40px;
}

.dropdown.normal-dropdown .dropdown-menu {
  top: 90px !important;
  width: 250px;
  min-width: 200px;
  padding: 0px;
  border-radius: 0px;
  border: none;
  box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
  border-top: 1px solid #0674ec;
  font-weight: 300 !important;
}

.dropdown.normal-dropdown .btn:hover, .dropdown.normal-dropdown .btn:focus {
  box-shadow: none;
}

.dropdown.normal-dropdown .dropdown-menu a {
  font-size: 14px;
  font-weight: 500;
  color: #b6b6b6;
  line-height: 42px;
  padding-left: 20px;
  padding-right: 20px;
}

#product-sorting-group select.form-control {
  border-radius: 0px;
  border: 2px solid #b6b6b6;
  color: #b6b6b6;
}

#products-listing-section .product-card:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.19);
  transition: 0.3s ease;
}

.category-card:hover img {
  filter: blur(3px);
  transition: all 2s ease-out;
}

#login-page-main {
  background: #e5e5e5;
  padding-top: 70px;
  padding-bottom: 70px;
}

.form-control.main-input-textarea {
  height: 120px;
  border: none;
  background: #F4F5F8;
  border-radius: 0px;
  padding: 5px 20px;
  color: #747b86;
}

.form-control.main-input-form {
  height: 45px;
  border: none;
  background: #F4F5F8;
  border-radius: 0px;
  padding: 0 20px;
  color: #747b86;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

#login-page-main .btn {
  border-radius: 2pc;
  background: #0674ec;
}

#explore-the-market-place .card-image {
  border: 4px solid #555555;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: 0px auto 20px auto;
  transition: all 3s;
}

#explore-the-market-place .card-image p {
  font-size: 50px;
}

#explore-the-market-place .card-image i.bottom-dot {
  color: #555555;
  position: absolute;
  bottom: 5px;
  font-size: 20px;
  transition: all 3s;
}

#explore-the-market-place .col:hover .card-image {
  border: 4px solid #0674ec;
  transition: all 2s;
}

#explore-the-market-place .col:hover .card-image i.bottom-dot {
  color: #0674ec;
  transition: all 3s;
}

#single-product-page-content {
  background: #EFF1F5;
  padding-top: 70px;
}

#product-images-carousel-indicator .carousel-indicators {
  position: relative;
}

#product-images-carousel-indicator .carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100px;
  height: auto;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 0px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

#single-product-page-content .nav-tabs .nav-link {
  color: #333333;
  border: none;
  border-radius: 0px;
  font-weight: 500;
}

#single-product-page-content .nav-tabs .nav-link:focus, #single-product-page-content .nav-tabs .nav-link:hover {
  color: #0674ec;
  border-bottom: transparent;
  border-top: transparent;
}

#single-product-page-content .nav-tabs .nav-item.show .nav-link, #single-product-page-content .nav-tabs .nav-link.active {
  color: #0674ec;
  background-color: #fff;
  border: none;
  border-top: 4px solid #0674ec;
}

#single-product-page-content .nav-tabs .nav-item {
  margin-bottom: 0px;
}

#single-product-page-content .nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

#single-product-page-content #review-rating {
  height: 40px;
  background: #eff1f5;
  border: none;
  resize: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  line-height: 25px;
}

#single-product-page-content #comment-field {
  height: 79px;
  background: #eff1f5;
  border: none;
  resize: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  min-height: 135px;
  line-height: 25px;
}

.rating {
  color: #ffc000;
}

.main-color {
  color: #0674ec;
}

.main-bg-color {
  background: #0674ec;
  color: white;
}

#product-sizes-accordian .card {
  background: white;
  border: none;
}

#product-sizes-accordian .card .card-header a > i {
  color: #555555;
  transition: all -1s;
  font-size: 19px;
}

#product-sizes-accordian .card .card-header a:hover > i, #product-sizes-accordian .card .card-header a:focus > i {
  color: #0674ec;
  transition: all 1s;
}

#product-sizes-accordian .card .card-header a:hover {
  text-decoration: none;
}

#product-sizes-accordian .card .card-header a {
  color: #555555;
}

#product-sizes-accordian .card .card-header {
  background: transparent;
}

#product-sizes-accordian .card li {
  font-size: 15px;
  margin-bottom: 2px;
}

#main-shopping-cart-page {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #eff1f5;
}

a.price-badge-light:hover {
  color: white !important;
  background: #0674ec;
  transition: all 2s;
}

#main-check-out {
  background-color: #EFF1F5;
}

.span-required {
  color: red;
  font-size: 70%;
  vertical-align: top;
}

#auth-index-carousel #carousel-container-2 {
  background: red;
  background-image: url("../img/frank-mckenna-127295-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgb(255,255,255);
}

#auth-index-carousel #carousel-container-1 {
  background: red;
  background-image: url("../img/henrique-felix-113545-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgb(255,255,255);
}

#auth-index-carousel .carousel-container {
  height: 40vh;
  padding: 50px;
}

#auth-index-intro {
  padding-top: 80px;
  padding-bottom: 20px;
}

.product-container-section span, .product-container-section p {
  font-size: 13px !important;
  margin-bottom: 0px;
}

.product-container-section {
  padding-bottom: 30px;
  padding-top: 50pxx;
}

#profile-picture-avatar-edit {
  width: 150px;
  margin: auto;
  height: 150px;
  border-radius: 100%;
  background: rgba(71,71,72,0.47);
  position: absolute;
  top: 3rem;
}

#profile-picture-avatar-edit p {
  font-size: 70px;
  height: 100%;
}

.auth-single-form-container textarea.form-control {
  background: transparent;
  border: none;
  height: 150px;
}

.auth-single-form-container .form-control:focus {
  box-shadow: none;
}

.auth-single-form-container {
}

.text-purple {
  color: #7345BF;
}

.bg-purple {
  background: #7345BF;
}

.bg-purple-light {
  color: #7345BF;
  background: rgba(115,69,191,0.5);
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px !important;
}

.text-20 {
  font-size: 20px !important;
}

a.text-decoration-none:hover {
  text-decoration: none !important;
}

#profile-jumbotron {
  /* background-image: url("../img/austin-distel-1539000-unsplash.jpg"); */
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#profile-jumbotron-overlay {
  height: 300px;
  position: absolute;
  width: 100%;
  left: 0px;
  background: rgba(115,69,191,0.7);
}

@media (min-width: 992px) {
  #profile-page-side-nav {
    margin-top: -250px;
  }
}

#profile-page-main-content {
  padding-top: 80px;
}

.bg-brown {
  background: #EB6D4A;
}

#profile-page-side-nav .nav-pills .nav-item a.active {
  color: #ffffff;
}

#profile-page-side-nav .nav-pills .nav-item a {
  color: #333333;
}

.account-setting-icon-label {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  margin-left: auto;
  margin-right: auto;
}

.account-setting-icon-label p {
  font-size: 26px;
}

#main-become-a-seller-jumb {
  background-image: url("../img/daniel-h-tong-202093-unsplash.jpg");
  background-position: center;
  background-size: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

#become-a-seller-section-one {
  padding-top: 120px;
  padding-bottom: 80px;
}

#become-a-seller-section-two {
  padding-top: 80px;
  padding-bottom: 80px;
}

#become-a-seller-section-three {
  padding-top: 80px;
  padding-bottom: 80px;
}

.btn-white:hover, .btn-white:focus {
  background: white;
  color: #0674ec;
}

.btn-white {
  background: white;
  color: #0674ec;
}

#home-sub-navbar .navbar-nav li a.active {
  color: #0674ec;
}

#dashboard-main-section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.progress.dashboard-recent-sales-bar {
  height: 2px;
  background: rgba(6,116,236,0.23);
}

.progress.dashboard-recent-sales-bar div {
  height: 5px;
  position: absolute;
  margin-top: -2px;
  background: #0674ec !important;
  border-radius: 2pc;
}

.select2-container--default .select2-selection--multiple {
  background-color: #F4F5F8 !important;
  border: 0px solid #aaa !important;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #fff !important;
  border: 0px solid #aaa !important;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px 10px !important;
}

.select2-container--default .select2-selection--single {
  background-color: #F4F5F8 !important;
  border: 0px solid #aaa !important;
  border-radius: 4px;
  padding: 0 20px !important;
  color: #747b86 !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  height: 45px !important;
  display: flex;
  align-items: center;
}

.select2-dropdown {
  background: white;
  border-radius: 5px !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border: none !important;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown.manage-items-dropdown {
  position: absolute;
  width: 70px;
  top: 20px;
  right: 30px;
}

.account-statement-icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.account-statement-icon p {
  font-size: 30px;
}

.bg-success-light {
  background-color: #77DE51!important;
}

.text-success-light {
  color: #77DE51!important;
}

.bg-warning-light {
  background-color: #FCB71D;
}

.bg-info-light {
  background-color: #58C9E9 !important;
}

.bg-danger-light {
  background-color: #FA6A6D;
}

.text-danger-light {
  color: #FA6A6D;
}

.text-info-light {
  color: #58C9E9;
}

.text-warning-light {
  color: #FCB71D;
}

#invoice .table thead th, #invoice .table tbody td {
  vertical-align: bottom;
  border-bottom: 2px solid rgba(6,116,236,0.05);
  border-top: 0px;
}

#invoice .table tfoot {
  border-top: 2px solid #0674ec;
}

#invoice .table {
  margin-top: 50px;
  margin-bottom: 50px;
}
#orders-tabs .nav-link{
    color: #555555;
}
#orders-tabs .nav-link.active{
    color: white;
    border-radius: 21px !important;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15) !important;
}
/*
input.isValid, textarea.isValid{
  border:1px solid #dc3545 !important;
} */


/* FLipper js */


.flipper {
    color: #0674ec;
    display: block;
    font-size: 50px;
    line-height: 100%;
    padding: 0;
    margin: 0;
    height: 1.7em;
    /* background: red; */
  }
  .flipper.flipper-invisible {
    font-size: 0px !important;
  }

  .flipper-group {
    position: relative;
    white-space: nowrap;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
  }
  .flipper-group label {
    position: absolute;
    color: #0674ec;
    font-size: 20%;
    top: 100%;
    line-height: 1em;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    text-align: center;
    padding-top: .5em;
  }

  .flipper-digit {
    white-space: nowrap;
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    height: 1.2em;
    overflow-y: hidden;
  }
  .flipper-digit span {
    font-size: 25%;
  }

  .flipper-delimiter {
    white-space: nowrap;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    color: #fff;
    min-width: .1em;
    white-space: nowrap;
    display: block;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    line-height: 1em;
  }

  .digit-face {
    display: block;
    visibility: hidden;
    position: relative;
    border-radius: 0.1em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    box-sizing: border-box;
    text-align: center;
    background: #0674ec;
  }

  .digit-next {
    display: block;
    position: relative;
    border-radius: 0.1em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    height: 1.2em;
    background: #fff;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    box-sizing: border-box;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .digit-top {
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    background: #fff;
    padding-top: 0.1em;
    padding-bottom: 0;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    box-sizing: border-box;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: background 0s linear, -webkit-transform 0s linear;
    transition: transform 0s linear, background 0s linear;
    transition: transform 0s linear, background 0s linear, -webkit-transform 0s linear;
    -webkit-transform-origin: 0 0.6em 0 !important;
            transform-origin: 0 0.6em 0 !important;
    -webkit-transform-style: preserve-3d !important;
            transform-style: preserve-3d !important;
    z-index: 20;
  }
  .digit-top.r {
    transition: background 0.2s linear, -webkit-transform 0.2s linear;
    transition: transform 0.2s linear, background 0.2s linear;
    transition: transform 0.2s linear, background 0.2s linear, -webkit-transform 0.2s linear;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    background: #cccccc;
  }

  .digit-top2 {
    visibility: hidden;
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    background: #cccccc;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    line-height: 0em !important;
    top: 50% !important;
    bottom: auto !important;
    padding-top: 0;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-bottom-left-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    overflow: hidden;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: background 0s linear, -webkit-transform 0s linear;
    transition: transform 0s linear, background 0s linear;
    transition: transform 0s linear, background 0s linear, -webkit-transform 0s linear;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-style: preserve-3d !important;
            transform-style: preserve-3d !important;
    -webkit-transform-origin: 0 0 0 !important;
            transform-origin: 0 0 0 !important;
    z-index: 20;
  }
  .digit-top2.r {
    visibility: visible;
    transition: background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    background: #fff;
  }

  .digit-bottom {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    background: #fff;
    height: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    line-height: 0em;
    padding-top: 0;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-bottom-left-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    box-sizing: border-box;
    text-align: center;
    transition: none;
  }
  .digit-bottom.r {
    transition: background 0.2s linear;
    background: #cccccc;
  }

  .flipper-digit:after {
    content: "";
    position: absolute;
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    display: block;
    z-index: 30;
    left: 0;
    right: 0;
  }

