<template>
    <form v-on:submit.prevent="sendMessage" class="px-3 text-left mt-5">
        <div class="form-group">
            <div class="form-row">
                <div class="col col-lg-10 offset-lg-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text border-0 form-control main-input-form pl-3 pr-3">To</span>
                        </div>
                        <select v-model="receiver" required name="gig_sub_category_id" class="form-control main-input-form">
                            {{ users }}
                            <option v-for="user in users" v-bind:key="user.id"  v-bind:value="user.id" >{{ user.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col col-lg-10 offset-lg-1 col-sm-10 offset-sm-1">
                    <textarea v-model="message" required name="comment" class="form-control main-input-textarea rounded-lg shadow-sm" placeholder="Type comment" style="height:60px"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-lg-10 offset-lg-1 text-right">
                    <button class="btn btn-primary text-white fr-cl-bcs border-0 font-weight-normal mt-3 mr-0" type="submit">Send</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        props: ["user","type","users"],
        data() {
            return {
                message : "",
                receiver: "",

            }
        },

        methods: {
            sendMessage(){
                // console.log(this.user)
                this.$emit('message-sent', {
                    user: {
                        name: "You",
                        type: this.user.type
                    },
                    id: this.receiver,
                    name: this.users.find(user => user.id == this.receiver).name,
                    message : this.message,
                    // created_at:
                })
                this.message = ""
            }
        },
    }
</script>
