<template>
    <div class="row">
        {{ searchedGigs }}
            <!-- <div v-for="gig in searchedGigs" v-bind:key="gig.id" class="col col-lg-3 mb-3 col-md-4 col-12">
                <div class="row">
                    <div class="col">
                        <img class="img-fluid d-block" v-bind:src="'/storage/gig image/'+gig.image">
                        <div class="bg-white p-3 custom-box-shadow">
                            <h6 class="mb-2">
                                <a style="color: #212121" v-bind:href="'/gig/'+gig.id">{{ gig.title }}</a>
                            </h6>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="d-flex align-items-center d-inline-block mb-2 user-avatar" style="">
                                    <div class="float-left">
                                    </div>
                                    <div class="float-left pl-2">
                                        <p class="text-14">
                                            <a style="color:#555555" v-bind:href="'/gig/'+gig.user.id">{{ gig.user.name }}</a>&nbsp;
                                        </p>
                                    </div>
                                </div>
                                <div class="mb-2" style="">
                                    <p class="text-info text-14">
                                        <i class="icon-layers"></i>&nbsp;
                                        {{ gig.category.name }}</p>
                                </div>
                            </div>
                            <p class="mt-0 mb-2 text-14">
                                {{ gig.description.substring(0,60) }}..
                            </p>
                            <hr class="mt-0 mb-2">
                            <div class="d-flex justify-content-between footer-section">
                                <span class="badge badge-primary price-badge-light mr-3">
                                    {{ currency }} {{ gig.basic_plan.price }} - {{ currency }} {{ gig.premium_plan.price }}</span>
                                <span class="badge badge-primary price-badge-pink-light mr-3">
                                    <i class="icon-heart"></i>&nbsp;
                                    {{ gig.orders.length }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        <!--  -->
    </div>
</template>

<script>
    export default {
        props:["gigs","currency","gigsearch"],
        data() {
            return {
                searchText:'',
            }
        },
        mounted() {
            // console.log(this.searchedGigs(this.gigs,this.gigsearch))
        },
        computed: {
            searchedGigs: function () {
                    return this.gigs.filter(function (gig) {
                    return gig.title.match()
                })
            }
        },
        methods: {
            // searchedGigs: function (gigs, theText) {
            //     return gigs.filter(function (gig,theText) {
            //         return gig.title.search(theText)
            //     })
            // }
        },
    }
</script>
