<template>
    <div >
        <div class="jumbotron main-pages-jumbotron" id="products-page-jumbotron" >
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-white mb-4">{{ pagedata.heading }}</h2>
                        <h5 class="font-weight-normal text-white-50 mb-3">{{ pagedata.sub_heading }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-6 offset-lg-3">
                        <form>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <input v-model="searchTerm" class="form-control pl-3" type="text" id="jumbotron-search-input" placeholder="Search for product">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">Go!</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <section id="product-sorting-group">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-3 border-left border-right col-sm-6 col-12">
                        <div class="dropdown normal-dropdown">
                            <button id="category" v-on:click="showDropdown(this)" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Categories</button>
                            <div class="dropdown-menu dropdown-menu-left pulse animated" role="menu">
                                <a class="dropdown-item" role="presentation" v-on:click.prevent="setCategory(category.name)">All</a>
                                    <a v-for="category in categories" v-bind:key="category.id" v-on:click.prevent="setCategory(category.name)" class="dropdown-item" role="presentation" >{{ category.name }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-3 border-right col-sm-6 col-12">
                        <div class="dropdown normal-dropdown">
                            <button id="feature" v-on:click="showFeature()" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">
                                Filter By
                            </button>
                            <div class="dropdown-menu dropdown-menu-left pulse animated" role="menu">
                                <a class="dropdown-item" role="presentation" v-on:click.prevent="changeOrder('most ordered')">Most Ordered</a>
                                <a class="dropdown-item" role="presentation" v-on:click.prevent="changeOrder('less ordered')">Less Ordered</a>
                                <a class="dropdown-item" role="presentation" v-on:click.prevent="changeOrder('most viewed')">Most Viewed</a>
                                <a class="dropdown-item" role="presentation" v-on:click.prevent="changeOrder('less viewed')">Less Viewed</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-3 border-right col-sm-6 col-12">
                        <div class="dropdown normal-dropdown">
                            <button id="price" v-on:click="showPrice()" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">
                                Price
                            </button>
                            <div class="dropdown-menu dropdown-menu-left pulse animated" role="menu">
                                <a class="dropdown-item" role="presentation" v-on:click.prevent="setPrice('low')">Low</a>
                                <a class="dropdown-item" role="presentation" v-on:click.prevent="setPrice('high')">High</a>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center col-lg-3 col-sm-6 pt-4 pb-4 col-12">
                            <div class="form-group mb-0">
                                <select v-model="size" class="form-control">
                                    <option value="20" selected>20 items per page</option>
                                    <option value="40" selected>40 items per page</option>
                                    <option value="50" selected>50 items per page</option>
                                    <option value="70" selected>70 items per page</option>
                                    <option value="100" selected>100 items per page</option>
                                </select>
                            </div>
                    </div>
                </div>
            </div>
        </section>

         <section id="products-listing-section" class="section-padding bg-color">
            <div class="container">
                <div class="row">
                    <div v-for="gig in paginatedData" v-bind:key="gig.id" class="col col-lg-3 mb-3 col-md-4 col-12">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid d-block" v-bind:src="'/storage/gig image/'+gig.image">
                                <div class="bg-white p-3 custom-box-shadow">
                                    <h6 class="mb-2">
                                        <a style="color: #212121" v-bind:href="'/gig/'+gig.id">{{ gig.title }}</a>
                                    </h6>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="d-flex align-items-center d-inline-block mb-2 user-avatar" style="">
                                            <div class="float-left">
                                            </div>
                                            <div class="float-left pl-2">
                                                <p class="text-14">
                                                    <a style="color:#555555" v-bind:href="'/gig/'+gig.user.id">{{ gig.user.name }}</a>&nbsp;
                                                </p>
                                            </div>
                                        </div>
                                        <div class="mb-2" style="">
                                            <p class="text-info text-14">
                                                <i class="icon-layers"></i>&nbsp;
                                                {{ gig.category.name }}</p>
                                        </div>
                                    </div>
                                    <p class="mt-0 mb-2 text-14">
                                        {{ gig.description.substring(0,60) }}..
                                    </p>
                                    <hr class="mt-0 mb-2">
                                    <div class="d-flex justify-content-between footer-section">
                                        <span class="badge badge-primary price-badge-light mr-3">
                                            {{ currency }} {{ gig.basic_plan.price }} - {{ currency }} {{ gig.premium_plan.price }}</span>
                                        <span class="badge badge-primary price-badge-pink-light mr-3">
                                            <i class="icon-heart"></i>&nbsp;
                                            {{ gig.orders.length }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col d-flex justify-content-center">
                        <div>
                            <button @click="prevPage" class="btn btn-primary shadow-sm fr-cl-bcs text-20 mb-2 mr-4"  type="button">
                                <i class="la la-arrow-left"></i>
                            </button>
                            <button @click="nextPage" class="btn btn-primary shadow-sm fr-cl-bcs text-20 mb-2 ml-4"  type="button">
                                <i class="la la-arrow-right"></i>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        props:["pagedata","categories","gigdata","currency"],
        data() {
            return {
                searchTerm:' ',
                orderGigs: "",
                category: " ",
                gigPrice: " ",
                pageNumber: 0,
                size: 20
            }
        },

        computed: {
            filteredGig() {
                let filteredGigs = this.gigdata.filter((gig) => {
                    console.log(this.$data.category)
                    return  gig.category.name.toLowerCase().match(this.$data.category.toLowerCase()) && gig.title.toLowerCase().match(this.$data.searchTerm.toLowerCase());
                })


                let OrderedGigs = filteredGigs.sort((a, b) => {
                    if(this.$data.orderGigs == "most viewed"){
                        return b.visits - a.visits;
                    }else if(this.$data.orderGigs == "less viewed"){
                        return a.visits - b.visits;
                    }
                    else if(this.$data.orderGigs == "most ordered"){
                        return b.orders.length - a.orders.length;
                    }
                    else if(this.$data.orderGigs == "less ordered"){
                        return a.orders.length - b.orders.length;
                    }

                })

                let OrderedPrice = OrderedGigs.sort((a, b) => {
                    // console.log(this.$data.orderGigs)
                    if(this.$data.gigPrice == "high"){
                        return b.basic_plan.price - a.basic_plan.price;
                    }else if(this.$data.gigPrice == "low"){
                        return a.basic_plan.price - b.basic_plan.price;
                    }


                })

                // console.log(this.$data.searchTerm.toLowerCase())
                return OrderedPrice;
            },
            pageCount(){
                let l = this.filteredGig.length,
                    s = this.size;
                return Math.ceil(l/s);
            },
            paginatedData(){
                const start = this.pageNumber * this.size,
                    end = start + this.size;
                return this.filteredGig.slice(start, end);
            }
        },
        methods: {
            changeOrder(order){
                this.orderGigs = order
            },
            setCategory(category){
                this.category = category
            },
            setPrice(price){
                this.gigPrice = price
            },
            showDropdown(){
                if($("#category").parent().find(".dropdown-menu").css("display") == "none"){
                    $("#category").parent().find(".dropdown-menu").show();
                    $("#feature").parent().find(".dropdown-menu").hide();
                    $("#price").parent().find(".dropdown-menu").hide();
                }else{
                    $("#category").parent().find(".dropdown-menu").hide();
                }
            },
            showFeature(){
                if($("#feature").parent().find(".dropdown-menu").css("display") == "none"){
                    $("#feature").parent().find(".dropdown-menu").show();
                    $("#category").parent().find(".dropdown-menu").hide();
                    $("#price").parent().find(".dropdown-menu").hide();
                }else{
                    $("#feature").parent().find(".dropdown-menu").hide();
                }
            },
            showPrice(){
                if($("#price").parent().find(".dropdown-menu").css("display") == "none"){
                    $("#price").parent().find(".dropdown-menu").show();
                    $("#category").parent().find(".dropdown-menu").hide();
                    $("#feature").parent().find(".dropdown-menu").hide();
                }else{
                    $("#price").parent().find(".dropdown-menu").hide();
                }
            },
            nextPage(){
                if(this.pageNumber < this.pageCount-1){
                    this.pageNumber++;
                }
            },
            prevPage(){
                if(this.pageNumber > 0){
                    this.pageNumber--;
                }
            }

        },
    }
</script>
