<template>
    <div>
        <div v-bind:key="message.id" class="row mb-3" v-for="message in messages" >
            <!-- {{ message }} -->
            <div class="col col-sm-10 offset-sm-1 bg-color text-left pt-3 pb-3 rounded-lg shadow-sm" v-bind:class="{'main-bg-color': message.sender.id == user.id,}">
                <div class="media">
                    <!-- <img class="rounded-circle img-fluid mr-3" src="assets/img/man.png" width="45"> -->
                    <div class="media-body">
                        <h6 class="font-weight-normal font-weight-bold d-flex justify-content-between align-items-center" >{{ message.sender.name }} <span style="font-size:11px">{{ message.created_at | formatDate}}</span> </h6>
                        <p class="text-14" v-bind:class="{'text-white': message.sender.id == user.id,}">{{ message.message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["user","messages"],
        data() {
            return {
                color:"#0674ec",

            }
        },
    }

</script>
