<template>
    <div>
        <div v-bind:key="user.id" class="row border-top border-bottom pt-3 pb-3" v-for="user in users" >
            <!-- {{ message }} -->
            <a class="d-block w-100" v-bind:href="'message/'+user.id">
                <div class="col col-12">
                    <div class="media">
                        <!-- <img class="rounded-circle mr-3" width="45" height="45" src="assets/img/boy%20(1).png">  -->
                        <div class="media-body">
                            <h6 class="font-weight-normal d-flex justify-content-lg-between align-items-center">{{ user.name }}&nbsp;<span class="small main-color">&nbsp;{{ user.at | formatDate}}</span></h6>
                            <p class="text-14 text-muted">{{ user.message }}&nbsp;</p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</template>

<script>
    export default {
        props: ["users"],
        data() {
            return {
                color:"#0674ec",

            }
        },
    }

</script>
