<template>
    <div>
        <div v-bind:key="comment.id" class="row mb-3" v-for="comment in comments">
            <div class="col col-12 col-lg-8 col-sm-10 offset-sm-1 offset-lg-2 ">
                <div class="media bg-color text-left pt-3 pb-3 pl-2 pr-2 rounded-lg shadow-sm ">
                    <div v-if="comment.user.type == 'regular'" class="rounded-circle main-bg-color  d-flex align-items-center justify-content-center mr-3" style="width:45px;height:45px">
                       <h2 class="text-white">O</h2>
                    </div>
                    <img v-if="comment.user.type == 'seller'" class="rounded-circle img-fluid mr-3"  src="/img/man.png" width="45">
                    <div class="media-body">
                        <h6 v-if="user.id == comment.user.id" class="font-weight-normal">You</h6>
                        <h6 v-else-if="user.id != comment.user.id" class="font-weight-normal">{{ comment.user.name }}</h6>
                        <p class="text-16">{{ comment.comment }}</p>
                        <p class="text-muted text-14 ">{{ comment.created_at | formatDate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ["user","comments"],
    }
</script>
