<template>
    <form v-on:submit.prevent="sendMessage" class="px-3 text-left mt-5">
        <div class="form-group">
            <div class="form-row">
                <div class="col col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
                    <textarea v-model="message" required name="comment" class="form-control main-input-textarea rounded-lg shadow-sm" placeholder="Type comment" style="height:60px"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-lg-8 offset-lg-2 text-right">
                    <button class="btn btn-primary text-white fr-cl-bcs border-0 font-weight-normal mt-3 mr-0" type="submit">Send</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        props: ["user","receiver"],
        data() {
            return {
                message : "",
                date:""
            }
        },
        created() {
            var today = new Date();
            this.date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        },
        methods: {
            sendMessage(){
                // console.log(this.user)
                this.$emit('message-sent', {

                    receiver:this.receiver,
                    sender:{
                        id: this.user.id,
                        name: this.user.name
                    },
                    message : this.message,
                    created_at: this.date
                })
                this.message = ""
            }
        },
    }
</script>
