<template>
    <form v-on:submit.prevent="sendComment" class="px-3 text-left mt-5">
        <div class="form-group">
            <div class="form-row">
                <div class="col col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
                    <textarea v-model="comment" required name="comment" class="form-control main-input-textarea rounded-lg shadow-sm" placeholder="Type comment" style="height:60px"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-lg-8 offset-lg-2 text-right">
                    <button class="btn btn-primary text-white fr-cl-bcs border-0 font-weight-normal mt-3 mr-0" type="submit">Send</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        props: ["user","order","type"],
        data() {
            return {
                comment : ""
            }
        },
        methods: {
            sendComment(){
                // console.log(this.user)
                this.$emit('comment-sent', {
                    user: {
                        name: "You",
                        type: this.user.type
                    },
                    order: this.order,
                    comment : this.comment,
                    // created_at: 
                })
                this.comment = ""
            }
        },
    }
</script>
